/*
    CONTENT:
        - IMPORTS
        - GLOBAL
*/

/* IMPORTS
================================================================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cookie&family=Poppins:wght@300;400;500;700&display=swap');

/* GLOBAL
================================================================================================================== */
* {
    font-family: 'Poppins', sans-serif;
    color: #4b6584;
}

::selection {
    background-color: #f7b731;
}

body {
    margin: 0;
}

main {
    width: 900px;
    margin: 30px auto;
}

@media (max-width: 1000px) {
    main {
        width: auto;
        padding: 0 15px;
    }
}

h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}
h1 i {
    color: #f7b731;
}

.form-group {
    margin-bottom: 30px;
    display: flex;
}
.form-group input {
    flex-grow: 3;
    background-color: #f1f2f6;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px;
}
.form-group button {
    flex-grow: 1;
    max-width: 100px;
    background-color: #f7b731;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
.form-group button i {
    color: #fff;
}
.form-group button:hover {
    background-color: #fed330;
}

.notes-list .notes-item {
    background-color: #f1f2f6;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 12px;
    display: flex;
}

.notes-list .notes-item p {
    margin: 0;
    margin-left: 10px;
    align-self: center;
}

.notes-list .notes-item button {
    background-color: #ced6e0;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.notes-list .notes-item button:hover {
    background-color: #fc5c65;
    color: #fff;
}
.notes-list .notes-item button:hover i {
    color: #fff;
}

.notes-empty {
    text-align: center;
    color: #999;
}
.notes-empty i {
    vertical-align: middle;
    color: #999;
}

.loader-holder {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader-holder .loader i {
    color: #f7b731;
}